<script type="text/javascript">
  tt_cancel_destination = '/logout';
</script>
<div style="text-align:center;margin:10px;">
  <p class="centered">
    <button id="production_button" class="button green" onclick="window.location = '/people'"><span>Production Application</span></button>
    <br/>
    <br/>
    <button id="staging_button" class="button green" onclick="window.location = 'http://staging/people'"><span>Staging Application</span></button>
  </p>  
</div>  
