.main-container {
  height: 500px;
  position: relative;
  width: 985px;
  z-index: 1000;
  top: 120px;
  left: 6px;
}

.diagnosis-columns{
  background-color: #EEEEEE;
  height: 66%;
  position: absolute;
  border-style: solid;
}

#main-diagnosis{
  left: 0%;
  width:36%;
}

#sub-diagnosis{
  left: 36%;
  width: 32%;
}

#sub-sub-diagnosis{
  left: 68%;
  width:32%;
}

#confirmatory-evidence{
  left: 5%;
  width: 90%;
  background-color: #EEEEEE;
  max-height: 76%;
  position: absolute;
  border-style: solid;
  top:55px;
}

.diagnosis-headers{
  width: 100%;
  background-color: #BBCCD9;
  height: 5%;
  position: absolute;
  font-style: bold;
}

.diagnosis-inputbox-div{
  width: 100%;
  height: 8%;
  position: absolute;
  font-style: bold;
  top: 5%;
}


.diagnosis-inputbox{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid silver;
  width:100%;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.8em;
  background:none;
  padding-left:5px;
}

.notify-div{
  width: 100%;
  height: 8%;
  position: absolute;
  font-style: bold;
  top: 5%;
}

.diagnosis-select-div{
  width: 100%;
  height: 87%;
  position: absolute;
  top: 13%;
  overflow:auto;
}

.diagnosis-select{
  width:100%;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.4em;
  padding:0;
  margin:0;
  size: 10;
  height: 100%;
}

.diagnosis-select option {
  word-wrap: normal;
}

.simple-keyboard{
  position: absolute;
  font-style: bold;
  top: 67%;
  z-index: 1005;
  left:30%;
}

.simple-button {
  margin: 0px;
}

.diagnosisBar {
  font-size: 1.5em;
	text-align: left;
  background-color: Turquoise;
  max-height: 255px;
  overflow:auto;
}

.diagnosisBarDiv {
  left: 250px;
  width: 670px;
  position: absolute;
  top: 130px;
  background-color: Turquoise;
  z-index: 1002;
	border: 3px solid #25a099;
  display: none;
}

.notify-span{
  font-size: 1.3em;
  color: tomato;
}

.confirmatory-evidence-select-div{
  width: 100%;
  overflow:auto;
}

.confirmatory-evidence-select{
  width:100%;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.4em;
  padding:0;
  margin:0;
  size: 10;
  max-height: 100px;
}

.confirmatory-evidence-select option {
  word-wrap: normal;
}

.confirmatory-evidence-headers{
  width: 100%;
  background-color: #BBCCD9;
  height: 8%;
  font-style: bold;
  font-size:1.5em;
}








