.main-container {
  height: 550px;
  position: relative;
  width: 985px;
  z-index: 1000;
  left: 6px;
}

.diagnosis-columns{
  border: 1px dashed #EEEEEE;
  height: 58%;
  position: absolute;
}

#main-diagnosis{
  left: 0%;
  width:36%;
}

#sub-diagnosis{
  left: 36%;
  width: 32%;
}

#sub-sub-diagnosis{
  left: 68%;
  width:32%;
}

#confirmatory-evidence{
  left: 5%;
  width: 90%;
  background-color: #EEEEEE;
  max-height: 90%;
  position: absolute;
  border-style: solid;
}

.diagnosis-headers{
  font-size: 1.2em;
  padding-left: 5px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
}

.diagnosis-inputbox-div{
  width: 100%;
  height: 8%;
  position: absolute;
  font-style: bold;
  top: 5%;
}


.diagnosis-inputbox{
  background:none repeat scroll 0 0 #EEEEEE;
  border: 1px solid silver;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.8em;
  margin-bottom: 3px;
  margin-left: 1%;
  padding-left:5px;
  width:97%;
}

.diagnosis-select-div{
  width: 100%;
  height: 82%;
  position: absolute;
  top: 10%;
  overflow:auto;
}

.diagnosis-select{
  width:100%;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.4em;
  padding:0;
  margin:0;
  size: 10;
  height: 100%;
}

.diagnosis-select option {
  word-wrap: normal;
}

.simple-keyboard{
  position: absolute;
  font-style: bold;
  top: 83%;
  z-index: 1005;
  left:30%;
}

.simple-button {
  margin: 0px;
}

.diagnosisBar {
  font-size: 1.5em;
	text-align: left;
  background-color: Turquoise;
  max-height: 255px;
  overflow:auto;
}

.diagnosisBarDiv {
  left: 250px;
  width: 670px;
  position: absolute;
  top: 130px;
  background-color: Turquoise;
  z-index: 1002;
	border: 3px solid #25a099;
  display: none;
}

.notify-span{
  color: tomato;
}

.confirmatory-evidence-select-div{
  width: 100%;
  overflow:auto;
}

.confirmatory-evidence-select{
  width:100%;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
  font-size:1.4em;
  padding:0;
  margin:0;
  size: 10;
  max-height: 90px;
}

.confirmatory-evidence-select option {
  word-wrap: normal;
}

.confirmatory-evidence-headers{
  width: 100%;
  background-color: #BBCCD9;
  height: 8%;
  font-style: bold;
  font-size:1.5em;
}

.diagnosesInfobarMain{
  -moz-user-select:none;
  color:black;
  font-size:1.6em;
  margin-left:1%;
  margin-bottom: 2px;
  padding-top:5px;
  width:98.5%;
  border-top:2px dotted;
  border-bottom:2px dotted;
  height:105px;
  background-color:honeydew;
  overflow:auto;
}

#diagnoses-infobar{
  width: 81%;
  position: relative;
  float: right;
}

#priSecAddDiv{
  width: 19%;
  position: relative;
  float: left;
  color:grey;
}

#tests-header{
  background-color:honeydew;
  width:98.5%;
  margin-left:1%;
}




