  <p><label for="location_name_clinic_name">Clinic Name</label><br/>
      <%= text_field 'location_name', 'clinic_name', :ajaxURL => "/hospital/search?act=#{@act}&search_string=",:allowFreeText => true%></p>


