<style type="text/css">
  #space { display: inline;}
</style>
<script>
  var tt_cancel_destination = "/patients/show/<%= @patient.patient_id %>"

  function updateEncounterDate() {
    $('encounter_encounter_datetime').value = $('diabetes_test_year').value + '-' + $('diabetes_test_month').value + '-01 00:00:01'
  }
</script>


<form action="/encounters/create/diabetes_test">

  <% default={
    :allowFreeText => 'true',
  } %>

  <%= hidden_field_tag "encounter[encounter_type_name]", "DIABETES TEST" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", '' %>
  <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    
  <label for="diabetes_test_type">Diabetes Test Type</label>
  <% options=default.merge({
      :field_type => 'text',
      :id => "diabetes_test_type"
  }) %>
  <% @diabetes_test_types = Concept.find_by_name("DIABETES TEST TYPE").concept_answers.map(&:name) rescue ['Creatinine',
'Urine Protein',
'Visual acuity',
'Fundoscopy',
'Foot Check']
  %>
  
  <%= select_tag( "diabetes_test_result", options_for_select(@diabetes_test_types), options) %>

  <%= text_field_tag "observations[][value_text]", nil,
    {:id => "diabetes_test_result",
     :helptext =>"Diabetes Test Result",
     :allowFreeText => 'true',
     :min => 50,
     :max => 500,
     #:tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
     :tt_onload => "$('observations__concept_name').value = $('diabetes_test_type').value" } %>
  <%= hidden_field_tag("observations[][concept_name]", "") %>
  <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>

  <%= text_field_tag "diabetes[test_year]", nil, {
    :helpText => 'Test Year', :field_type => 'number', :absoluteMin => "1890",
    :min => "1940", :absoluteMax => Date.today.year,
    :tt_pageStyleClass => "Numeric NumbersOnly",
    :tt_onLoad => 'seen(tstCurrentPage);' }  %>

  <%= select_tag "diabetes[test_month]", month_name_options, {
    :helpText => 'Test Month',
    :condition => '$("diabetes_test_year").value.toLowerCase() != "unknown"',
    :tt_onLoad => '$("nextButton").setAttribute("onmousedown", "updateEncounterDate(); gotoNextPage();")'
  }%>

  <%= hidden_field_tag("observations[][obs_datetime]", '') %>

  <%= submit_tag "Finish" %>
</form>
