<script src="/javascripts/antibiotics.js" type="text/javascript"></script>
<script type="text/javascript">
  tt_cancel_destination = '/encounters/show_lab_tests?identifier=<%= params[:identifier].upcase if !params[:identifier].nil? %>';

  var antibiotics = <%= @antibiotic_results.to_json %>;
  var patient_id = '<%= @patient.id %>';
  var datetime = '<%= DateTime.now() %> '

</script>

<% case params[:test]
when "BLOOD CULTURE" %>

  <h1>BLOOD CULTURE</h1>

  <form id='blood_culture' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "BLOOD CULTURE") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='growth'>Blood Culture Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "growth",
        :onchange => "alert('Change noticed! New value is ' + this.value)"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Growth",
          "No Growth"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "OUTCOME") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='gram_stain'>Gram Stain Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "gram_stain",
        :condition=>"$('growth').value == 'Growth'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_result), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "GRAM STAIN RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='organisms'>Gram Stain Result Organism</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "organisms",
        :condition=>"$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_organisms), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "ORGANISM") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <input
      type='text' name='antibiotics' tt_onLoad='generateAntibiotics()'
      tt_onUnLoad='removeAntibiotics()' tt_pageStyleClass='NoControls'
      condition = "$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'" optional />

    <!--label for='antibiotic_result'>Antibiotics Result</label-->
  <%# options=default.merge({
  :field_type => 'text',
  :id => "antibiotic_result",
  :condition=>"$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'",
  :multiple => true,
  :tt_onLoad => "antibiotics_click()"
  }) %>
  <%#= select_tag( "observations[][value_coded_or_text]",
  options_for_select(@antibiotic_results), options) %>
  <%#= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
  <%#= hidden_field_tag("observations[][concept_name]", "ANTIBIOTIC RESULT") %>
  <%#= hidden_field_tag("observations[][patient_id]", @patient.id) %>
  <%#= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= submit_tag "Finish" %>
  </form>

<% when "OTHER" %>

  <h1>OTHER</h1>

  <form id='other' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "OTHER") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='hiv_rapid_test'>HIV Rapid Test</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "hiv_rapid_test",
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Positive",
          "Negative"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "HIV RAPID TEST") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='hiv_dna_pcr'>HIV DNA PCR</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "hiv_dna_pcr",
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Positive",
          "Negative"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "HIV DNA PCR") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='cd4'>CD4 (cells/&micro;L)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "cd4",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "CD4") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='viral_load'>Viral Load (copies/mL)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "viral_load",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "VIRAL LOAD") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= submit_tag "Finish" %>
  </form>

<% when "MOLECULAR" %>

  <h1>MOLECULAR</h1>

  <form id='molecular' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "MOLECULAR") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='diagnostic_real_time_results'>Diagnostic Real Time Results</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "diagnostic_real_time_results",
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Positive",
          "Negative"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "DIAGNOSTIC REAL TIME RESULTS") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='organisms'>Organism</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "organisms",
        :condition=>"$('diagnostic_real_time_results').value == 'Positive'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@virus_species), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "VIRUS SPECIES") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='viral_load_h1n1'>Viral Loads: H1N1 (copies/mL)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "viral_load_h1n1",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "H1N1") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='viral_load_cmv'>Viral Loads: CMV (copies/mL)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "viral_load_cmv",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "CMV") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= submit_tag "Finish" %>
  </form>

<% when "CSF" %>

  <h1>CSF</h1>

  <form id='csf' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "CSF") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='appearance'>Appearance</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "appearance"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@appearance_options), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "APPEARANCE") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='outcome'>Gram Stain Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "outcome"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_result), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "OUTCOME") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='india_ink'>India Ink</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "india_ink",
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Positive",
          "Negative"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "INDIA INK") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='wbc'>WBC/mm<sup>3</sup></label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "wbc",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "WBC/MM3") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='rbc'>RBC/mm<sup>3</sup></label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "rbc",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "RBC/MM3") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='neutphils'>Neutphils (%)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "neutphils",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "NEUTPHILS") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='lymphocytes'>Lymphocytes (%)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "lymphocytes",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LYMPHOCYTES") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='protein'>Protein (g/L)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "protein",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "PROTEIN") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='glucose'>Glucose (mmol/L)</label>
    <%= text_field_tag "observations[][value_coded_or_text]", nil,
      {:id => "glucose",
      :field_type => 'number',
      :allowFreeText => 'true'} %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "GLUCOSE") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='culture'>Culture Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "culture",
        :onchange => "alert('Change noticed! New value is ' + this.value)"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Growth",
          "No Growth"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "CULTURE") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='gram_stain'>Gram Stain Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "gram_stain",
        :condition=>"$('culture').value == 'Growth'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_result), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "GRAM STAIN RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <input
      type='text' name='antibiotics' tt_onLoad='generateAntibiotics()'
      tt_onUnLoad='removeAntibiotics()' tt_pageStyleClass='NoControls'
      condition = "$('culture').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'" optional />

    <!--label for='antibiotic_result'>Antibiotics Result</label-->
  <%# options=default.merge({
  :field_type => 'text',
  :id => "antibiotic_result",
  :condition=>"$('culture').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'"
  }) %>
  <%#= select_tag( "observations[][value_coded_or_text]",
  options_for_select(@antibiotic_results), options) %>
  <%#= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
  <%#= hidden_field_tag("observations[][concept_name]", "ANTIBIOTIC RESULT") %>
  <%#= hidden_field_tag("observations[][patient_id]", @patient.id) %>
  <%#= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= submit_tag "Finish" %>
  </form>

<% when "MP TEST" %>

  <h1>MP TEST</h1>

  <form id='other' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "MP") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='mp_test'>MP Test Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "mp_test",
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Positive",
          "++",
          "+++",
          "++++",
          "+++++",
          "Negative"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "MP") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

  </form>

<% when "PCV" %>

  <h1>PCV</h1>

  <form id='other' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "PCV") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

    <label for='pcv'>PCV (%) Test Result</label>
    <%= text_field_tag( "observations[][value_coded_or_text]", "", {
        :field_type => 'number',
        :id => "pcv",
        :helpText => 'PCV (%) Test Result',
        :absoluteMin => "1",
        :absoluteMax => "100"
      }) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "PCV") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", DateTime.now()) %>

  </form>

<% end %>
