<%= @destination_page =  "/encounters/new/first_time_visit_questions?patient_id=" + @patient.id.to_s %>

<%

  if(params[:encounter_id] && params[:group_type])
    @encounter_obs = Encounter.encounter_observations(params[:encounter_id], params[:group_type]) rescue nil
  end

%>
<script>
  var tt_cancel_destination = "<%= @destination_page -%>"

   <%

   unless(params[:encounter_id])
   %>
      <%= "var save_state = true;" %>
   <%
   end

   %>

  function setConceptNamesAndValues(){

    var values_string = selectedValue('complications');

    $('peripheral_neuropathy').value = ' ';
    $('peripheral_neuropathy_value_coded_or_text').value = ' ';
    $("suspected_pvd").value = ' ';
    $('suspected_pvd_value_coded_or_text').value = ' ';
    $('amputation').value = ' ';
    $('amputation_value_coded_or_text').value = ' ';
    $('impotence').value = ' ';
    $('impotence_value_coded_or_text').value = ' ';
    $('retinopathy').value = ' ';
    $('retinopathy_value_coded_or_text').value = ' ';
    $('renal_disease').value = '';
    $('renal_disease_value_coded_or_text').value = ' ';
    $('cataract_surgery').value = '';
    $('cataract_surgery_value_coded_or_text').value = ' ';
    $('present_cataract').value = ' ';
    $('present_cataract_value_coded_or_text').value = ' ';
    $('suspected_neuropathy').value = '';
    $('suspected_neuropathy_value_coded_or_text').value = '';


    if(values_string.contains("PERIPHERAL NEUROPATHY")){

      $('peripheral_neuropathy').value = 'PERIPHERAL NEUROPATHY';
      $('peripheral_neuropathy_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("SUSPECTED PVD")){

      $("suspected_pvd").value = 'SUSPECTED PVD';
      $('suspected_pvd_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("AMPUTATION")){

      $('amputation').value = 'AMPUTATION';
      $('amputation_value_coded_or_text').value = 'Yes';

    }
    if(values_string.contains("IMPOTENCE")){

      $('impotence').value = 'IMPOTENCE';
      $('impotence_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("RETINOPATHY")){

      $('retinopathy').value = 'RETINOPATHY';
      $('retinopathy_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("RENAL DISEASE")){

      $('renal_disease').value = 'RENAL DISEASE';
      $('renal_disease_value_coded_or_text').value = 'Yes';

    }
    if(values_string.contains("PAST CATARACT SURGERY")){

      $('cataract_surgery').value = 'CATARACT SURGERY';
      $('cataract_surgery_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("PRESENT CATARACTS")){

      $('present_cataract').value = 'CATARACT';
      $('present_cataract_value_coded_or_text').value = 'Yes';

    }

    if(values_string.contains("SUSPECTED NEUROPATHY")){

      $('suspected_neuropathy').value = 'SUSPECTED NEUROPATHY';
      $('suspected_neuropathy_value_coded_or_text').value = 'Yes';

    }
  }
</script>
<%
@select_years = [""]
this_year     = Date.today.year
begin @select_years << Array.new(1){this_year.to_s}; this_year = this_year - 1; end while (this_year != 1969)
%>

<form id='medical_history' action="/encounters/<%= ((params[:edit])?"update":"create") %>" method='post'>

  <% default={
    :allowFreeText => 'true',
  } %>

  <%= hidden_field_tag "encounter_id", "#{((params[:encounter_id])?params[:encounter_id]:"")}" %>

  <%= hidden_field_tag "encounter[encounter_type_name]",  "COMPLICATIONS" %>
  <%= hidden_field_tag "encounter[patient_id]",           @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]",   DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]",          session[:user_id] %>

  <% options=default.merge({
      :field_type => 'text',
      :helpText => "Select complications:",
      :id => "complications",
      :tt_onUnLoad => "setConceptNamesAndValues()",
      :multiple => true,
      :tt_pageStyleClass => "MultiSelectList",
      :optional => true
    }) %>

  <% if (@patient.person.gender == 'M')
    @complications_list = ["PERIPHERAL NEUROPATHY", "SUSPECTED PVD",
      "AMPUTATION", "IMPOTENCE", "RETINOPATHY",
      "RENAL DISEASE", "PAST CATARACT SURGERY",
      "PRESENT CATARACTS","SUSPECTED NEUROPATHY"]
  else
    @complications_list = ["PERIPHERAL NEUROPATHY", "SUSPECTED PVD",
      "AMPUTATION", "RETINOPATHY","RENAL DISEASE",
      "PAST CATARACT SURGERY", "PRESENT CATARACTS",
      "SUSPECTED NEUROPATHY"]
  end
%>
  <%= select_tag("complications_values", options_for_select(@complications_list, ((@encounter_obs)?(@encounter_obs["complications"]):"")),options) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'peripheral_neuropathy'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "peripheral_neuropathy_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :helpText => "PERIPHERAL NEUROPATHY: Year started",
      :tt_requireNextClick => false,
      :id => "peripheral_neuropathy_year_started",
      :tt_onUnLoad => "$('peripheral_neuropathy_year_started_value_numeric').value = $('peripheral_neuropathy_year_started').value",
      :condition => "$('peripheral_neuropathy_value_coded_or_text').value == 'Yes'",
      :optional => false,
      :tt_pageStyleClass => "LongSelectList",
      :multiple => false
    }) %>
  <%= select_tag "peripheral_neuropathy[year_started]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["peripheral_neuropathy_year_started"]):"")),options %>

  <%= hidden_field_tag("observations[][concept_name]",  "YEAR CONDITION NOTICED") %>
  <%= hidden_field_tag("observations[][value_numeric]", "",  {:id => "peripheral_neuropathy_year_started_value_numeric"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]",  "PERIPHERAL NEUROPATHY") %>
  <%= hidden_field_tag("observations[][patient_id]",    @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",  DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'suspected_pvd'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "suspected_pvd_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'amputation'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "", {:id => "amputation_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :tt_requireNextClick => false,
      :helpText => "Select side of Amputations",
      :tt_onUnLoad => "$('amputation_side_value_coded_or_text').value = $('amputation_side').value",
      :condition => "$('amputation_value_coded_or_text').value == 'Yes'",
      :id => "amputation_side"
    }) %>
  <%= select_tag("amputation_side[value_coded_or_text]", options_for_select([
        "",
        "LEFT FOOT/LEG",
        "RIGHT FOOT/LEG",
        "BOTH FEET/LEGS"
      ], ((@encounter_obs)?(@encounter_obs["amputation_side"]):"")), options ) %>
  <%= hidden_field_tag("observations[][concept_name]",        "SIDE AFFECTED") %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "amputation_side_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "AMPUTATION") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :id => "years_of_surgery",
      :condition => "$('amputation_value_coded_or_text').value == 'Yes'",
      :helpText => "AMPUTATIONS: Year(s) of Surgery",
      :optional => false,
      :tt_pageStyleClass => "MultiSelectList",
      :multiple => true
    }) %>

  <%= hidden_field_tag("observations[][concept_name]",        "YEAR OF SURGERY") %>
  <%= select_tag "observations[][value_numeric]",             options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["years_of_surgery"]):"")),options %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "AMPUTATION") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'impotence'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "impotence_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'retinopathy'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "retinopathy_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :tt_requireNextClick => false,
      :id => "retinopathy_diagnosis_year",
      :condition => "$('retinopathy_value_coded_or_text').value == 'Yes'",
      :tt_onUnLoad => "$('retinopathy_diagnosis_year_value_numeric').value = $('retinopathy_diagnosis_year').value",
      :helpText => "RETINOPATHY: Year first diagnosed",
      :optional => false,:multiple => false,
      :tt_pageStyleClass => "LongSelectList"
    }) %>
  <%= select_tag "retinopathy[diagnosis_year]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["retinopathy_diagnosis_year"]):"")),options %>

  <%= hidden_field_tag("observations[][concept_name]",        "DIAGNOSIS YEAR") %>
  <%= hidden_field_tag("observations[][value_numeric]",       "", {:id => "retinopathy_diagnosis_year_value_numeric"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "RETINOPATHY") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'renal_disease'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "renal_disease_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :tt_requireNextClick => false,
      :id => "renal_disease_diagnosis_year",
      :condition => "$('renal_disease_value_coded_or_text').value == 'Yes'",
      :tt_onUnLoad => "$('renal_disease_diagnosis_year_value_numeric').value = $('renal_disease_diagnosis_year').value",
      :helpText => "RENAL DISEASE: Year first diagnosed",
      :optional => false,:multiple => false,
      :tt_pageStyleClass => "LongSelectList"
    }) %>
  <%= select_tag "renal_disease[diagnosis_year]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["renal_disease_diagnosis_year"]):"")),options %>

  <%= hidden_field_tag("observations[][concept_name]",        "DIAGNOSIS YEAR") %>
  <%= hidden_field_tag("observations[][value_numeric]",       "", {:id => "renal_disease_diagnosis_year_value_numeric"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "RENAL DISEASE") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>
  
<%# save the parent concept first, before saving its children%>
  <%= hidden_field_tag("observations[][concept_name]",        "CATARACT SURGERY", {:id => 'cataract_surgery'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "cataract_surgery_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :tt_requireNextClick => false,
      :tt_OnLoad =>"$('infoBar'+tstCurrentPage).innerHTML = 'Past Cataract Surgery'",
      :helpText => "Select side of Cataract Surgery",
      :tt_onUnLoad => "$('cataract_surgery_side_value_coded_or_text').value = $('cataract_surgery_side').value",
      :condition => "$('cataract_surgery_value_coded_or_text').value == 'Yes'",
      :id => "cataract_surgery_side"
    }) %>
  <%= select_tag("cataract_surgery_side[value_coded_or_text]", options_for_select([
        "",
        "Left".upcase,
        "Right".upcase,
        "Both left and right".upcase
      ], ((@encounter_obs)?(@encounter_obs["cataract_surgery_side"]):"")), options ) %>
  <%= hidden_field_tag("observations[][concept_name]",        "SIDE AFFECTED") %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "", {:id => "cataract_surgery_side_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "CATARACT SURGERY") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :id => "year_of_operations",
      :condition => "$('cataract_surgery_value_coded_or_text').value == 'Yes'",
      :tt_OnLoad =>"$('infoBar'+tstCurrentPage).innerHTML = 'Past Cataract Surgery'",
      :helpText => "Select Years of Operations",
      :optional => false,
      :tt_pageStyleClass => "MultiSelectList",
      :multiple => true
    }) %>
  <%= hidden_field_tag("observations[][concept_name]",        "YEAR OF SURGERY") %>
  <%= select_tag "observations[][value_numeric]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["year_of_operations"]):"")),options %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "CATARACT SURGERY") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'present_cataract'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "",  {:id => "present_cataract_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :tt_requireNextClick => false,
      :tt_OnLoad =>"$('infoBar'+tstCurrentPage).innerHTML = 'Present Cataracts'",
      :helpText => "Select side of Cataract",
      :tt_onUnLoad => "$('present_cataract_side_value_coded_or_text').value = $('present_cataract_side').value",
      :condition => "$('present_cataract_value_coded_or_text').value == 'Yes'",
      :id => "present_cataract_side"
    }) %>
  <%= select_tag("present_cataract_side[value_coded_or_text]", options_for_select([
        "",
        "Left".upcase,
        "Right".upcase,
        "Both left and right".upcase
      ], ((@encounter_obs)?(@encounter_obs["present_cataract_side"]):"")), options ) %>
  <%= hidden_field_tag("observations[][concept_name]",        "SIDE AFFECTED") %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "", {:id => "present_cataract_side_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "CATARACT") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :id => "year_of_diagnosis",
      :tt_OnLoad =>"$('infoBar'+tstCurrentPage).innerHTML = 'Present Cataracts'",
      :condition => "$('present_cataract_value_coded_or_text').value == 'Yes'",
      :helpText => "CATARACT: Select Year(s) of Diagnosis",
      :optional => false,
      :tt_pageStyleClass => "MultiSelectList",
      :multiple => true
    }) %>
  <%= hidden_field_tag("observations[][concept_name]",        "YEAR OF SURGERY") %>
  <%= select_tag "observations[][value_numeric]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["year_of_diagnosis"]):"")),options %>
  <%= hidden_field_tag("observations[][parent_concept_name]", "CATARACT") %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <%= hidden_field_tag("observations[][concept_name]",        "", {:id => 'suspected_neuropathy'}) %>
  <%= hidden_field_tag("observations[][value_coded_or_text]", "", {:id => "suspected_neuropathy_value_coded_or_text"}) %>
  <%= hidden_field_tag("observations[][patient_id]",          @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",        DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :id => "protein_urea",
      :tt_requireNextClick => false,
      :condition => "$('suspected_neuropathy').value == 'Yes'",
      :tt_onUnLoad => "$('protein_urea_value_numeric').value = $('protein_urea').value",
      :helpText => "SUSPECTED NEUROPATHY: Year protein urea first noted",
      :optional => false,
      :tt_pageStyleClass => "LongSelectList",
      :multiple => false
    }) %>
  <%= select_tag "suspected_neuropathy[protein_urea]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["protein_urea"]):"")),options %>

  <%= hidden_field_tag("observations[][concept_name]",  "YEAR PROTEIN UREA FIRST NOTED") %>
  <%= hidden_field_tag("observations[][value_numeric]", "",  {:id => "protein_urea_value_numeric"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]",  "SUSPECTED NEUROPATHY") %>
  <%= hidden_field_tag("observations[][patient_id]",    @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",  DateTime.now()) %>

  <% options=default.merge({
      :field_type => 'text',
      :id => "creatinine",
      :tt_requireNextClick => false,
      :condition => "$('suspected_neuropathy').value == 'Yes'",
      :helpText => "SUSPECTED NEUROPATHY: Year raised Creatinine first noted",
      :optional => false,
      :tt_onUnLoad => "$('creatinine_value_numeric').value = $('creatinine').value",
      :tt_pageStyleClass => "LongSelectList",
      :multiple => false
    }) %>

<%= select_tag "suspected_neuropathy[creatinine]", options_for_select(@select_years, ((@encounter_obs)?(@encounter_obs["creatinine"]):"")),options %>

  <%= hidden_field_tag("observations[][concept_name]",  "YEAR RAISED CREATININE FIRST NOTED") %>
  <%= hidden_field_tag("observations[][value_numeric]", "",  {:id => "creatinine_value_numeric"}) %>
  <%= hidden_field_tag("observations[][parent_concept_name]",  "SUSPECTED NEUROPATHY") %>
  <%= hidden_field_tag("observations[][patient_id]",    @patient.id) %>
  <%= hidden_field_tag("observations[][obs_datetime]",  DateTime.now()) %>

  <%= hidden_field_tag("next_url",@destination_page) %>

  <%= submit_tag "Finish" %>
</form>
