<html>
  <head>
    <title>Midwife Admissions Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th colspan="4">
          MIDWIFE ADMISSION NOTE
        </th>
      </tr>
    </table>
  </body>
</html>