<script type="text/javascript">
  tt_cancel_destination = '/encounters/lab_results_entry';
  tt_cancel_show = '/encounters/lab_results_entry';
</script>
<style type="text/css">

  a.button.green {
    width:220px;
    -moz-user-select:none;
    border:0 none;
    color:white;
    cursor:pointer;
    display:block;
    font-weight:bold;
    padding:0 8px 0 0;
    text-align:center;
    text-decoration:none;
    background:green none repeat scroll 0 0;
    font-size:1.4em;
    height:50px;
    line-height:57px;
    min-width:48px;
    margin-top:10px
  }
#menu {
    overflow:auto;
    position:absolute;
    height:620px;
    width:257px;
    top: 0px;
    right: 1px;
  }

.buttonsDiv{
  width: 995px;
}

ul.list{
  overflow-x: hidden;
}

</style>

</style>

<div id="general_dashboard" style="margin:10px;">
  <div style="font-size:1.1em; position:relative;top: 0px; width:650px;">
    <%= render :partial => "details" %>
  </div>
  <div style="font-size:1.1em; position:absolute; top: 260px; border:dotted 1px #eee; height:360px; width:670px;">
    <%= render :partial => "current_encounters" %>
  </div>
    <%= render :partial => "current_tests" %>

</div>
<!--
<div style="z-index:11;bottom:15px; height: 64px; width: 100px; left: -4px; right: -66px; position: absolute;">
  <button id="cancelButton" class="button navButton red" onclick="window.location = tt_cancel_destination">
    <span>
      Cancel
    </span>
  </button>
</div>

 div style="z-index:11;bottom:1px; height: 64px; width: 435px; left: 120px; position: absolute;"><table><tr><td>Location</td><td>: <span style='font-color:green'><span style='font-color:green'><%=session[:ward]%></span></td></tr>
      <tr><td>User </td><td>: <span style='font-color:green'><%=User.find(session[:user_id]).name rescue 'User' %></span></td></tr></table></div-->


