production:
 demographic_server_ips_and_local_ports: {"localhost":"4000"}
 create.from.remote: true
 create.from.dde.server: false
 link.to.anc: false
 remote_servers.parent: localhost:3000
 remote_bart.username: admin
 remote_bart.password: test
 remote_bart.location: 721
 remote_machine.account_name: localhost
 application.include_delivery_mode: yes
 application.include_baby_weight_and_apgar: yes

development:
 demographic_server_ips_and_local_ports: {"localhost":"4000"}
 create.from.remote: true
 create.from.dde.server: false
 link.to.anc: false
 remote_servers.parent: localhost:3000
 remote_bart.username: admin
 remote_bart.password: test
 remote_bart.location: 721
 remote_machine.account_name: localhost
 extra_delivery_mode: true
 application.include_baby_weight_and_apgar: yes
 
test: &TEST 
 create.from.remote: false
 create_from_remote: no
 use.user.selected.activities: yes
 remote_servers.parent: localhost:3000
 remote_bart.username: admin
 remote_bart.password: test
 remote_bart.location: 721
 remote_machine.account_name: localhost 
 application.include_delivery_mode: yes
 application.include_baby_weight_and_apgar: yes

cucumber:
  <<: *TEST
