production:
  adapter: mysql
  database: maternity
  username: root
  password: masula
  host: localhost

development:
  adapter: mysql  
  database: maternity
  username: root
  password: masula
  host: localhost

test:
  adapter: mysql
  database: maternity
  username: root
  password: masula
  host: localhost


