  <table cellpadding="5" width="100%" cellspacing="1">

    <tr>
      <th class="tableHeader">Name</th>
      <th class="tableHeader">Test</th>
      <th class="tableHeader">Date</th>
    </tr>

    <%
    creatinine = @recents["creatinine"]
    foot_check = @recents["foot_check"]
    visual_acuity = @recents["visual_acuity"]
    urine_protein = @recents["urine_protein"]
    fundoscopy = @recents["fundoscopy"]
    urea = @recents["urea"]

    def is_diabetes_test_expired(diabetes_test)
      ((((Date.today - diabetes_test.obs_datetime.to_date).to_f/365.0)>1.0) ? true: false) rescue false
    end

    def highlight_test(diabetes_test)
      (is_diabetes_test_expired(diabetes_test) ? "#FF9999":"#FFFFFF")
    end

    @creatinine_color    = highlight_test(creatinine)
    @foot_check_color    = highlight_test(foot_check)
    @visual_acuity_color = highlight_test(visual_acuity)
    @urine_protein_color = highlight_test(urine_protein)
    @fundoscopy_color    = highlight_test(fundoscopy)
    @urea_color          = highlight_test(urea)

    complications_colors = [@creatinine_color, @foot_check_color,
                            @visual_acuity_color, @urine_protein_color,
                            @fundoscopy_color, @urea_color]

    if complications_colors.include? "#FF9999"
      @colorize_tab = true
    else
      @colorize_tab = false
    end
  %>

    <% if(creatinine) %>

      <tr>
        <td bgcolor="<%= @creatinine_color %>">
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=CREATININE'>Creatinine</a>
        </td>
        <td bgcolor="<%= @creatinine_color %>">
          <%=  creatinine.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%=@creatinine_color %>">
          <%=  creatinine.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

    <% if(foot_check) %>

      <tr>
        <td bgcolor="<%= @foot_check_color%>">
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=FOOT CHECK'>Foot Check</a>
        </td>
        <td bgcolor="<%= @foot_check_color %>">
          <%=  foot_check.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%= @foot_check_color %>">
          <%=  foot_check.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

    <% if(visual_acuity) %>

      <tr>
        <td bgcolor="<%= @visual_acuity_color %>">
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=VISUAL+ACUITY'>Visual Acuity</a>
        </td>
        <td bgcolor="<%= @visual_acuity_color%>">
          <%=  visual_acuity.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%= @visual_acuity_color %>">
          <%=  visual_acuity.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

    <% if(urine_protein) %>

      <tr>
        <td bgcolor="<%= @urine_protein_color %>" >
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=URINE+PROTEIN'>Urine Protein</a>
        </td>
        <td bgcolor="<%= @urine_protein_color %>">
          <%=  urine_protein.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%= @urine_protein_color %>">
          <%=  urine_protein.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

    <% if(fundoscopy) %>

      <tr>
        <td bgcolor="<%= @fundoscopy_color %>">
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=FUNDOSCOPY'>Fundoscopy</a>
        </td>
        <td bgcolor="<%= @fundoscopy_color %>">
          <%=  fundoscopy.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%= @fundoscopy_color %>">
          <%=  fundoscopy.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

    <% if(urea) %>

      <tr>
        <td bgcolor="<%= @urea_color %>">
          <a href='/encounters/new/diabetes_test?patient_id=<%= @patient.id %> &diabetes_test_type=UREA'>Urea</a>
        </td>
        <td bgcolor="<%= @urea_color %>">
          <%=  urea.to_s_formatted.titleize %>
        </td>
        <td bgcolor="<%= @urea_color %>">
          <%=  urea.obs_datetime.strftime("%b, %Y") %>
        </td>
      </tr>

    <% end %>

  </table>

<script type="text/javascript">
  var new_tab_color =  <%= @colorize_tab %>
  /* set recent complications tab to red if there are outstanding tests to be done */
  if (new_tab_color){
    colorolizeTab('tabmenu', 'recent_complications_tab', '#FF0000');
  }
</script>
