<script type="text/javascript">
  tt_cancel_destination = '/people';
</script>
<div style="text-align:center;margin:10px;">
  <p class="centered">
    <button id="users_button" class="button green" onclick="window.location = '/report/site_summary'"><span>Site Summary</span></button>
    <button id="users_button" class="button green" onclick="window.location = '/report/weekly_report'"><span>Weekly Report</span></button>
    <br/>
    <br/>
  </p>  
</div>  
