<script type="text/javascript">
  tt_cancel_destination = "/people?active_tab=tab2";
</script>

<% form_tag :action => "save_role", :id =>@user do %>
  <%= error_messages_for 'user' %>
   <p><label for="user_role_role_id">User Role</label></br>
      <%= text_field 'user_role', 'role_id', :xhelpText => 'User role', :ajaxURL => '/search/role?search_string=', :allowFreeText => false%></p>
<% end %>
