<script type="text/javascript">
  tt_cancel_destination = "/user/user_menu"; 
</script>

<h1>Editing user</h1>
<% form_tag :action => 'change_password', :id => @user do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
