<script type="text/javascript">
  tt_cancel_destination = "/user/user_menu"; 
</script>

<h1>Editing user</h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<%= form_tag :action => 'change_password', :id => @user %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= form_tag %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
