<script type="text/javascript">
  tt_cancel_destination = "/user/show?user_id=<%= @user.id %>"; 
</script>

<% form_tag :action => "delete_role", :user_id =>@user.id do %>
<%= render :partial => "form" %>
<% end %>
