<script type="text/javascript">
  tt_cancel_destination = "/user/user_menu"; 
</script>

<%= start_form_tag :action => 'destroy', :id => @user %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Destroy' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'show' %>
