<%= javascript_include_tag  "cancel_to_user_menu"%>

<%= start_form_tag :action => 'update', :id => @user %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
