
<script type="text/javascript">
  tt_cancel_destination = "/people?active_tab=tab3"; 
</script>

<% form_tag :action => 'search_user', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Search' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'user_menu' %>
