<html>
  <head>
    <title>Maternity Cohort Report</title>
    <%= stylesheet_link_tag "mateme" %>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>

    <script type="text/javascript">
      tt_cancel_destination = '/people';
    </script>

    <style>
      #main {
        width: 99.7%;
        height: 88.5%;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <iframe id="main" src="/cohort/cohort_print?selSelect=<%= @selSelect %>&day=<%= @day %>&selYear=<%= 
      @selYear %>&selWeek=<%= @selWeek %>&selMonth=<%= @selMonth %>&selQtr=<%= @selQtr %>&start_date=<%=
      @start_date %>&end_date=<%= @end_date %>&reportType=<%= @reportType %>"></iframe>

    <div style="z-index:11;bottom:15px; height: 64px; width: 890px; left: -4px; right: -66px; position: absolute;">
      <button onclick="window.location = '/cohort';" class="button navButton red"
              id="cancelButton" style="position: absolute; z-index: 100; "><span>Cancel</span>
      </button>

      <button onclick="window.location = '/cohort';" class="button navButton gray"
              id="backButton" ><span>Back</span>
      </button>
      <button class="button navButton blue"
      <% case @selSelect
      when "week" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&selYear=<%= @selYear %>&selWeek=<%= @selWeek %>'"

              <% when "month" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&selYear=<%= @selYear %>&selMonth=<%= @selMonth %>'"

              <% when "year" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&selYear=<%= @selYear %>'"

              <% when "quarter" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&selQtr=<%= @selQtr %>'"

              <% when "range" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&start_date=<%= @start_date %>&end_date=<%= @end_date %>'"

              <% when "day" %>

                onclick="window.location = '/cohort/print_cohort?selSelect=<%= @selSelect %>&day=<%= @day %>'"

              <% end %>

              style="float: right; ">
        <span>
          Print
        </span>
      </button>
    </div>
  </body>
</html>