<html>
<style>
img{
  width: 320px;
  display: block;
  margin-top: 25px;
  border: solid 2px black;
}
li{
  font-size: 2em;
}
</style>
<body><pre>
<h1>Table of Contents</h1><li><a href='#feature:_finding_an_existing_patient'>Finding an existing patient</a></li><li><a href='#feature:_selecting_an_encounter'>Selecting an encounter</a></li><li><a href='#feature:_viewing_the_patient_dashboard'>Viewing the patient dashboard</a></li><li><a href='#feature:_capturing_dmht_data'>Capturing DMHT data</a></li><li><a href='#feature:_generic_encounter'>Generic encounter</a></li><li><a href='#feature:_vitals_encounter'>Vitals encounter</a></li><li><a href='#feature:_registering_a_new_patient'>Registering a new patient</a></li><li><a href='#feature:_logging_in_'>Logging in </a></li>
<hr/><h1 id='feature:_finding_an_existing_patient'>Feature: Finding an existing patient</h1>
  In order to review or update patient information
  As a user
  I want to be able to locate the data for a patient based on the information that I have
 
  <h3>Scenario: View find or register patient screen</h3>
    Given I am on the "find or register patient" page
    Then I should see "scan a barcode"
    And I should see "Find or register patient by name"
    And I should see "Find patient by identifier"
    And I should see "Finish"
    And it should look like <img src='images/find_or_register_patient.jpg'>

  <h3>Scenario: Scan a locally valid barcode</h3>
    Given I am on the "find or register patient" page
    And I have a patient that exists in the local database with "P1701210013" as the national id number
    And I enter "P1701210013" as barcode
    And I press "Submit"
    Then I should see the "patient dashboard" page

  <h3>Scenario: Scan a remotely valid barcode with connectivity</h3>
    Given I am on the "find or register patient" page
    And I have a patient that does not exist in the local database with "P1701210013" as the national id number
    And I have a patient that exists in a remote database with "P1701210013" as the national id number *HARD TO TEST*
    And I enter "P1701210013" as barcode
    And I press "Submit"

    Then I should see the "patient dashboard" page

  <h3>Scenario: Scan a remotely valid barcode without connectivity</h3>
    Given I am on the "find or register patient" page
    And I have a patient that does not exist in the local database with "P1701210013" as the national id number
    And I have a patient that exists in a remote database with "P1701210013" as the national id number *HARD TO TEST*
    And I have no connectivity
    And I enter "P1701210013" as barcode
    Then I should see "First name"
    And the patient that is created will maintain the same national id *HARD TO TEST*

  <h3>Scenario: Find a locally valid patient by name</h3>
    Given I am on the "find or register patient" page
    When I click "Find or register patient by name"
    Then I should see "First name"
    When I enter "Evan" as given_name 
    And I enter "Waters" as family_name 
    And I enter "M" as gender
    And I click "Finish"
    Then I should see "Evan Waters, Birthdate"

  <h3>Scenario: Find a locally valid patient by identifier</h3>
    Given I am on the "find or register patient" page
    And a patient exists with "Evan" as given_name and "Waters" as family_name and "M" as gender and "ARV311" as patient_identifer
    And I click "Find or register patient by identifier"
    Then I should see "Identifier"
    And I have entered the patient identifier
    Then I should see the "patient dashboard" page

  <h3>Scenario: Find a locally valid patient by name</h3>
    Given I am on the "find or register patient" page
    And a patient exists remotely with "Evan" as given_name and "Waters" as family_name and "M" as gender
    And I click "Find or register patient by name"
    Then I should see "First name"
    And I have entered the given_name, family_name and gender in the form
    Then I should see "Evan Waters, Birthdate"

  <h3>Scenario: Find a locally valid patient by identifier</h3>
    Given I am on the "find or register patient" page
    And a patient exists remotely with "Evan" as given_name and "Waters" as family_name and "M" as gender and "ARV311" as patient_identifer
    And I click "Find or register patient by identifier"
    Then I should see "Identifier"
    And I have entered the patient identifier
    Then I should see the "patient dashboard" page

  <h3>Scenario: Quit by clicking Finish</h3>
    Given I am on the "find or register patient" page
    And I click "Finish"
    Then I should see the "login" page
<hr/><h1 id='feature:_selecting_an_encounter'>Feature: Selecting an encounter</h1>
  In order to easily select most kind of patient related activies
  As a user
  I want to be able to see a list of encounters and select an appropriate one
 
  <h3>Scenario: View encounter selector</h3>
    Given I am on the "encounter selector" page
    And it should look like:

    SELECT ENCOUNTER
    -------------------------
    Vitals
    HIV Test
    ARV Treatment
    DMHT: Eyes
    DMHT: Renal
    DMHT: Cardiovascular
    DMHT: Neurologic
    -------------------------
    FINISH  CANCEL

  <h3>Scenario: Clicking on an encounter</h3>
    Given I am on the "encounter selector" page
    When I click on the "DMHT: Eyes" text
    and click "finish"
    Then I should go to the "DMHT: Eyes" page

<hr/><h1 id='feature:_viewing_the_patient_dashboard'>Feature: Viewing the patient dashboard</h1>
  In order to quickly understand a patient's situation
  As a user
  I want to be able to see a patient's most critical details on one screen after scanning a barcode
 
  <h3>Scenario: View patient dashboard</h3>
    Given I am on the "patient dashboard" page
    And it should look like <img src='images/patient_dashboard.jpg'>

  <h3>Scenario: View demographics summary</h3>
    Given I am on the "patient dashboard" page
    And the patient's first name is "Mike"
    And the last name is "McKay"
    And the age is "51"
    And I am on the "patient dashboard" page
    Then I should see "Mike" 
    And I should see "McKay"
    And I should see "51"

  <h3>Scenario: View encounter history</h3>
    Given I am on the "patient dashboard" page
    And "today" the patient had a "Registration" encounter at 07:35
    And "today" had an "Outpatient Diagnosis" encounter with a "OUTPATIENT DIAGNOSIS" of "MALARIA"
    And "1 Month ago" visited the "Outpatient clinic"
    And had a "Vitals" encounter with a "Temperature" of "36.1C", "WEIGHT" of "51.1KG", "HEIGHT" of "171CM", and "OUTPATIENT DIAGNOSIS" of "BILHARZIA, MUMPS"
    Then I should see "Registration, patient was seen at the registration desk at 07:35"
    And I should see "Outpatient diagnosis MALARIA"
    And I should see "1 Month Ago: Outpatient clinic, 36.1C, 51.1KG, 171CM, BILHARZIA, MUMPS"

  <h3>Scenario: View graph</h3>
    Given I am on the "patient dashboard" page
    Then I should see a graph
    And I should be able to navigate to other graphs
    
    
  <h3>Scenario: View treatment history</h3>
    Given I am on the "patient dashboard" page
    And the patient has been prescribed "Triomune 30 1 tab(s) BD since 23/12/07"
    Then I should see "Triomune 30 1 tab(s) BD since 23/12/07"
<hr/><h1 id='feature:_capturing_dmht_data'>Feature: Capturing DMHT data</h1>
  In order to provide a good continuity of care to diabetes/hypertension patients
  As a nurse, clinician or doctor
  I want to be able to easily capture relevant patient data

  <h3>Scenario: Perform a DMHT Visit</h3>
    Given I am on the "DMHT: Eyes: page
    Then it should look like:

    Result of eye exam
    -------------------------
    Bloodshot
    Glycemia
    Over dialated
    I am making these up
    Normal
    Not applicable
    -------------------------
    FINISH  CANCEL
 
  <h3>Scenario: Perform DMHT: Eyes</h3>
    Given I am on the "DMHT: Eyes" page
    Then I should see "Glycemia" *TODO specify question exactl*
    
  <h3>Scenario: Perform DMHT: Renal</h3>
    Given I am on the "DMHT: Renal" page
    Then I should see "Glycemia" *TODO specify question exactl*

  <h3>Scenario: Perform DMHT: Cardiovascular</h3>
    Given I am on the "DMHT: Cardiovascular" page
    Then I should see "Glycemia" *TODO specify question exactl*

  <h3>Scenario: Perform DMHT: Neurologic</h3>
    Given I am on the "DMHT: Neurologic" page
    Then I should see "Glycemia" *TODO specify question exactl*

  <h3>Scenario: Capture lab data</h3>

  <h3>Scenario: Return to partially competed visit</h3>

<hr/><h1 id='feature:_generic_encounter'>Feature: Generic encounter</h1>
  In order to be able to capture various types of data
  As a user that is seeing a patient
  I want to be able to use a simple and consistent interface

  <h3>Scenario: Clear button</h3>
    Given I am on a "generic encounter" page
    And there is some text in the text box
    When I click "Clear"
    Then the text box should be empty

  <h3>Scenario: Next button</h3>
    Given I am on a "generic encounter" page
    And there is a "Temperature" question
    And there is a "Weight" question
    And I am viewing the "Temperature" question
    When I click "Next"
    Then I should not see the "Weight" question
    And I should see the "Temperature" question

  <h3>Scenario: Cancel button</h3>
    Given I am on a "generic encounter" page
    When I click "Cancel"
    Then I should see an alert: "Are you sure you want to cancel?"
    When I click "Yes"
    Then I should see the "patient dashboard" page

<hr/><h1 id='feature:_vitals_encounter'>Feature: Vitals encounter</h1>
  In order to triage patients and track patients details longitudinally (over time)
  As a nurse or vitals clerk
  I want to be able to accurately capture a patient's vital signs
 
  <h3>Scenario: Select vitals encounter</h3>
    Given I am on the "patient dashboard" page
    When I click "Consult"
    Then I should see the "Select Encounter" page
    And it should look like <img src='images/select_encounter.jpg'>
    When I click "Vitals"
    Then I should see "Temperature"

  <h3>Scenario: Enter vitals</h3>
    Given I am on the "vitals" page
    When I enter "36.1" as temperature
    And I enter "51.1" as weight
    And I enter "171" as height
    Then I should see a graph *HARD TO TEST W/O javascript*
    When I click "Finish"
    Then I should see the "patient dashboard" page

  <h3>Scenario: Temperature validation</h3>
    Given I am on the "vitals" page
    And I am on the "temperature" question
    When I enter a temperature less than "20"
    And I press "Next"
    Then I see the alert "Value out of Range: 20 - 45" *HARD TO TEST W/O javascript*
    When I enter a temperature greater than "45"
    And I press "Next"
    Then I see the alert "Value out of Range: 20 - 45" *HARD TO TEST W/O javascript*

  <h3>Scenario: Weight validation</h3>
    Given I am on the "vitals" page
    And I am on the "weight" question
    And I have a "10" year old "female" 
    And I make a mistake and think she weighs "66.6" kilograms
    When I enter "66"
    And I press "Next"
    Then I see the alert "You must enter a decimal between 0 and 9"
    When I enter "66.6"
    And I press "Next"
    Then I see the alert "Value out of Range:" *HARD TO TEST W/O javascript*

  <h3>Scenario: Height validation</h3>
    Given I am on the "vitals" page
    And I am on the "weight" question
    And I have a "10" year old "female"
    And I make a mistake and think she has a height of "180" centimeters
    When I enter "180"
    And I press "Next"
    Then I see the alert "Value out of Range:" *HARD TO TEST W/O javascript*
<hr/><h1 id='feature:_registering_a_new_patient'>Feature: Registering a new patient</h1>
  In order to provide care to a patient and store their health data
  As a user
  I want to be able to register a new patient
 
  <h3>Scenario: Find a locally valid patient by name</h3>
    Given I am on the "find or register patient" page
    And I have a patient
    When I click "Find or register patient by name"
    Then I should see "First name"
    When I have entered the patient's demographic details in the form
    Then I should see "Select the patient from the following"
    When I select "Create a new person with name <First name>"
    And I click "Finish"
    Then I should see "Mother's surname"
    When I have entered the rest of the patient's demographic details in the form
    Then I should see the "Print label" page

    Examples:

    | First name | Last name | Mother's surname | Gender | Home Village | Year of Birth | Month of Birth | Birth Day | Current Traditional Authority (TA) | Current Village | Address/Landmark | Phone number |
    | Evan       | Waters    | Madzi            | Male   | Neno         | 1940          | August         | 17        | Blantyre                           | Neno | Water Tower  | 0999981750 |
<hr/><h1 id='feature:_logging_in_'>Feature: Logging in </h1>
  In order to securely access the system's features
  Users should have to login with a username and password
 
  <h3>Scenario: View login screen</h3>
    Given I am not logged in
    When I access the "/people/search" page
    Then I should be redirected to the "login" page
    And I should see "Username"
    And it should look like <img src='images/login_user.jpg'>

  <h3>Scenario: User enters username and password</h3>
    Given I am not logged in
    And I am on the "login" page
    When I enter "testuser" as username 
    And I enter "testpass" as password
    Then I should see "testuser" in the username
    And the password field should be masked *HARD TO TEST*
 
  <h3>Scenario: User logs in with wrong password</h3>
    Given I am not logged in
    And I am on the "login" page
    When I enter "testuser" as username 
    And I enter "wrongpass" as password
    And I press "Submit"
    Then the login form should be shown again
    And I should see "Invalid user name or password"
 
  <h3>Scenario: User logs in with correct password</h3>
    Given I am not logged in
    And I am on the "login" page
    Given I am on the "login" page
    When I enter "mikmck" as login 
    And I enter "mike" as password
    And I press "Submit"
    Then I should be redirected to the "location" page
    When I enter "8" as location
    And I press "Submit"
    Then I should see "scan a barcode"
</pre></body></html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8"/>
    <title>Cucumber</title>
    <style type="text/css">
.cucumber {
  background: black;
  color: white;
  padding: 1em;
}
.cucumber .passed {
  color: #008800;
}
.cucumber .undefined {
  color: #888800;
}
.cucumber .pending {
  color: #888800;
}
.cucumber .failed {
  color: #880000;
}
.cucumber .skipped {
  color: #008888;
}
.cucumber .outline {
  color: #008888;
}

.cucumber .passed_param {
  font-weight: bold;
  color: #00ff00;
}
.cucumber .undefined_param {
  font-weight: bold;
  color: #ffff00;
}
.cucumber .pending_param {
  font-weight: bold;
  color: #ffff00;
}
.cucumber .failed_param {
  font-weight: bold;
  font-weight: bold;
  color: #ff0000;
}
.cucumber .skipped_param {
  font-weight: bold;
  color: #00ffff;
}
.cucumber .outline_param {
  font-weight: bold;
  color: #00ffff;
}

.cucumber a {
  text-decoration: none;
  color: inherit;
}
.cucumber a:hover {
  text-decoration: underline;
}
.cucumber a:visited {
  font-weight: normal;
}
.cucumber ol {
  list-style: none;
}
.cucumber .stats {
  margin: 2em;
}
.cucumber .summary ul.features li {
  display: inline;
}
.cucumber .backtrace {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}
    </style>
  </head>
  <body>
    <div class="cucumber">
      <div class="feature">
        <h2>Feature: Logging in </h2>
        <p>
In order to securely access the system's features          <br/>
Users should have to login with a username and password          <br/>
        </p>
        <div class="scenario">
          <h3>Scenario: View login screen</h3>
          <ol>
            <li class="step passed" id="login_feature_6">
              <div>
Given I am not logged in              </div>
            </li>
            <li class="step passed" id="login_feature_7">
              <div>
When I access the &quot;<span class="passed_param">/people/search</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_8">
              <div>
Then I should <span class="passed_param">be redirected to</span> the &quot;<span class="passed_param">login</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_9">
              <div>
And I should see &quot;<span class="passed_param">Username</span>&quot;              </div>
            </li>
            <li class="step failed" id="login_feature_10">
              <div>
And it should look like login_user.jpg *HARD TO TEST*              </div>
              <pre class="failed">Ambiguous match of "it should look like login_user.jpg *HARD TO TEST*":

step_definitions/open_page_steps.rb:24:in `/^it should look like (\w*\.jpg).*/'
step_definitions/open_page_steps.rb:32:in `/^.*HARD TO TEST\*$/'

You can run again with --guess to make Cucumber be more smart about it
 (Cucumber::Ambiguous)
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/step_mother.rb:222:in `step_match'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_invocation.rb:55:in `find_step_match!'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_invocation.rb:31:in `invoke'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_invocation.rb:22:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/visitor.rb:74:in `visit_step'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:109:in `visit_step'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_collection.rb:14:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_collection.rb:13:in `each'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/step_collection.rb:13:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/visitor.rb:70:in `visit_steps'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:103:in `visit_steps'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:102:in `visit_steps'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/scenario.rb:31:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/step_mother.rb:249:in `before_and_after'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/scenario.rb:30:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/visitor.rb:45:in `visit_feature_element'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:79:in `visit_feature_element'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:78:in `visit_feature_element'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/feature.rb:23:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/feature.rb:22:in `each'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/feature.rb:22:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/visitor.rb:23:in `visit_feature'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:47:in `visit_feature'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:46:in `visit_feature'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/features.rb:24:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/features.rb:23:in `each'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/features.rb:23:in `accept'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/ast/visitor.rb:19:in `visit_features'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:38:in `visit_features'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:37:in `visit_features'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:36:in `visit_features'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `call'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:134:in `_nested_structures'
/usr/lib/ruby/gems/1.8/gems/builder-2.1.2/lib/builder/xmlbase.rb:58:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/formatter/html.rb:30:in `visit_features'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/broadcaster.rb:9:in `__send__'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/broadcaster.rb:9:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/broadcaster.rb:8:in `map'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/broadcaster.rb:8:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/cli/main.rb:45:in `execute!'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/../lib/cucumber/cli/main.rb:24:in `execute'
/usr/lib/ruby/gems/1.8/gems/cucumber-0.3.9/bin/cucumber:9
/usr/bin/cucumber:19:in `load'
/usr/bin/cucumber:19
login.feature:10:in `And it should look like login_user.jpg *HARD TO TEST*'</pre>
            </li>
          </ol>
        </div>
        <div class="scenario">
          <h3>Scenario: User enters username and password</h3>
          <ol>
            <li class="step passed" id="login_feature_13">
              <div>
Given I am not logged in              </div>
            </li>
            <li class="step passed" id="login_feature_14">
              <div>
And I am on the &quot;<span class="passed_param">login</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_15">
              <div>
When I enter &quot;<span class="passed_param">testuser</span>&quot; as <span class="passed_param">username</span>              </div>
            </li>
            <li class="step passed" id="login_feature_16">
              <div>
And I enter &quot;<span class="passed_param">testpass</span>&quot; as <span class="passed_param">password</span>              </div>
            </li>
            <li class="step pending" id="login_feature_17">
              <div>
Then I should see &quot;<span class="pending_param">testuser</span>&quot; in the <span class="pending_param">username</span>              </div>
              <pre class="pending">TODO (Cucumber::Pending)
login.feature:17:in `Then I should see "testuser" in the username'</pre>
            </li>
            <li class="step skipped" id="login_feature_18">
              <div>
And the password field should be masked *HARD TO TEST*              </div>
            </li>
          </ol>
        </div>
        <div class="scenario">
          <h3>Scenario: User logs in with wrong password</h3>
          <ol>
            <li class="step passed" id="login_feature_21">
              <div>
Given I am not logged in              </div>
            </li>
            <li class="step passed" id="login_feature_22">
              <div>
And I am on the &quot;<span class="passed_param">login</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_23">
              <div>
When I enter &quot;<span class="passed_param">testuser</span>&quot; as <span class="passed_param">username</span>              </div>
            </li>
            <li class="step passed" id="login_feature_24">
              <div>
And I enter &quot;<span class="passed_param">wrongpass</span>&quot; as <span class="passed_param">password</span>              </div>
            </li>
            <li class="step passed" id="login_feature_25">
              <div>
And I press &quot;<span class="passed_param">Submit</span>&quot;              </div>
            </li>
            <li class="step passed" id="login_feature_26">
              <div>
Then the login form should be shown again              </div>
            </li>
            <li class="step passed" id="login_feature_27">
              <div>
And I should see &quot;<span class="passed_param">Invalid user name or password</span>&quot;              </div>
            </li>
          </ol>
        </div>
        <div class="scenario">
          <h3>Scenario: User logs in with correct password</h3>
          <ol>
            <li class="step passed" id="login_feature_30">
              <div>
Given I am not logged in              </div>
            </li>
            <li class="step passed" id="login_feature_31">
              <div>
And I am on the &quot;<span class="passed_param">login</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_32">
              <div>
Given I am on the &quot;<span class="passed_param">login</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_33">
              <div>
When I enter &quot;<span class="passed_param">mikmck</span>&quot; as <span class="passed_param">login</span>              </div>
            </li>
            <li class="step passed" id="login_feature_34">
              <div>
And I enter &quot;<span class="passed_param">mike</span>&quot; as <span class="passed_param">password</span>              </div>
            </li>
            <li class="step passed" id="login_feature_35">
              <div>
And I press &quot;<span class="passed_param">Submit</span>&quot;              </div>
            </li>
            <li class="step passed" id="login_feature_36">
              <div>
Then I should <span class="passed_param">be redirected to</span> the &quot;<span class="passed_param">location</span>&quot; page              </div>
            </li>
            <li class="step passed" id="login_feature_37">
              <div>
When I enter &quot;<span class="passed_param">8</span>&quot; as <span class="passed_param">location</span>              </div>
            </li>
            <li class="step passed" id="login_feature_38">
              <div>
And I press &quot;<span class="passed_param">Submit</span>&quot;              </div>
            </li>
            <li class="step passed" id="login_feature_39">
              <div>
Then I should see &quot;<span class="passed_param">scan a barcode</span>&quot;              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="duration">0m1.545s</div>
    </div>
  </body>
</html>
