<script type="text/javascript">
  tt_cancel_destination = "/people?active_tab=tab2"; 
</script>
<%= stylesheet_link_tag 'iframelayouttable' %>

<style type="text/css">
      #menu {
        float:right;
        position:relative;
        height:478px;
        width:257px;;
      }
</style>
<div id="tab" style="height: 100%; width: 100%; overflow: auto;">
    <h2 style="margin-left: 8px;">Location Drug Management Menu</h2>
      <table id="stats" style="height: 303px;" cellpadding="10">
          <tr>
            <td>
               <button class="button blue" style="min-width:380px;" onclick="parent.location = '/location_drugs/new'"><span>Add Drug</span></button> <br />
               <button class="button blue" style="min-width:380px;" onclick="parent.location = '/location_drugs/list'"><span>Remove Drug</span></button>
            </td>
          </tr>
      </table>
</div>
