<script>
  var tt_cancel_destination = "/location_drugs"
</script>

<% form_for :person, @person, :url => { :action => "create" } do |f| %>

  <%= text_field_tag "location_drug", "", {:id => 'location_drug', :helpText => 'Drug', :ajaxURL => '/search/drugs?search_string=', :allowFreeText => false } %>
  
    
  <%= submit_tag "Create Location Drug" %>
  
<% end %>
