<script>
  tt_cancel_destination = "/people?active_tab=tab2";
</script>

<% form_for :person, @person, :url => { :action => "create" } do |f| %>

  <%= text_field_tag "location_drug", "", {:id => 'location_drug', :helpText => 'Drug', :ajaxURL => '/search/drugs?search_string=', :allowFreeText => false } %>
  
    
  <%= submit_tag "Create Location Drug" %>
  
<% end %>
