<html>
<head>
<title>
<%= @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
</title>
<script language="javascript">
tstUsername = "<%= User.current_user.username unless User.current_user.nil? %>";
tstCurrentDate = "<%= Time.now.strftime("%Y/%m/%d") %>";
var tt_cancel_destination = "/people"
</script>
<%= stylesheet_link_tag "touch" %>
<%= javascript_include_tag "touchscreenToolkit" %>
<%= javascript_include_tag "pmis" %>
<%# if @needs_date_picker %>
  <%= javascript_include_tag "dateselector" %>
<%# end %>
</head>
<body>

<% unless flash[:notice].nil? %>
  <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:error].nil? %>
  <p id="flash_error" style="color: red"><%= flash[:error] %></p>
<% end %>

<%= @content_for_layout %>

</body>
</html>
