<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
    <script language="javascript">
      tstUsername = "<%= User.current_user.username unless User.current_user.nil? %>";
      tstCurrentDate = "<%= Time.now.strftime("%Y/%m/%d") %>";
    </script>
    <%= stylesheet_link_tag "mateme" %>
    <%= stylesheet_link_tag "menu" %>
    <%= stylesheet_link_tag "touch" %>
  </head>
  <body id="mateme">  
    <div id="container">
      <div id="content">
        <% unless flash[:notice].nil? %>
          <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_error" style="color: red"><%= flash[:error] %></p>
        <% end %>
        <%= yield %>  
        <div id="footer">
          <div id="buttons" class="buttonsDiv">
            <button id="clearButton" class="button gray navButton" onmousedown="clearInput()"></button>
            <div id="tt_extraButtons"/>
            <button id="cancelButton" class="button navButton red" onmousedown="confirmCancelEntry();"></button>
          </div>
          
        </div>    
      </div>  
    </div>
  </body>
</html>