<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
    <script language="javascript">
      tstUsername = "<%= User.current_user.username unless User.current_user.nil? %>";
      tstCurrentDate = "<%= Time.now.strftime("%Y/%m/%d") %>";
      var tt_cancel_destination = null;
    </script>
    <%= stylesheet_link_tag "mateme" %>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
  </head>
  <body id="mateme">  
    <div id="container">
      <div id="content">
        <% unless flash[:notice].nil? %>
          <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_error" style="color: red"><%= flash[:error] %></p>
        <% end %>
        <%= yield %>  
        <div id="footer">
          <div id="buttons" class="buttonsDiv" style="top:0px">
            <button id="finishButton" class="button navButton green" onclick="if (tt_cancel_destination) window.location = tt_cancel_destination;"><span>Finish</span></button></div>
            <div id="tt_extraButtons"/>
          </div>
          
        </div>    
      </div>  
    </div>
  </body>
</html>